@model IEnumerable<Digigarage.BusinessEntities.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h3  style="font-family:Georgia, 'Times New Roman', Times, serif; ">Customer Details</h3>
<br/>

<p>
    <a href="@Url.Action("Create","Customers")" class="btn btn-glow-secondary"><i class="fa fa-plus"></i>  Add New Customer</a>
</p>

<table class="table table-striped">
    <thead style="background-color : #355070; color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody  style="color : black; font-size: medium;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
               
                <td>
                    <a href="@Url.Action("Edit","Customers", new { id = item.CustomerId})" class="btn" style="background-color:#023e8a; color:white; padding: 3px 4px;"><i class="fa fa-edit"></i>Edit</a>
                    <a href="@Url.Action("Details","Customers", new { id = item.CustomerId})" class="btn" style="background-color:#2d6a4f; color:white; padding: 3px 5px;"><i class="fa fa-edit"></i>Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>