@model IEnumerable<SBS.BusinessEntities.ViewModel.VehicleViewModel>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .main {
            margin-top: 30px;
            padding: 10px 15px;
        }

        .container {
            width: auto;
        }

        .page-container {
            margin-left: 10%;
            margin-bottom: 10%;
            margin-right: 5%;
        }

        .table-heading {
            background-color: #2a3843;
            color: white;
        }
    </style>
</head>

<body style="background-color : #ced4da ;">
    <div class="page-container">
        <div class="page-wrapper">
            <h2>Vehicle Details</h2>


            <table id="VehiclesIndex" class="table table-striped" style="width: 100%;">
                <thead class="table-heading">
                    <tr>
                        <th style="width:30px;">
                            @Html.DisplayNameFor(model => model.custID)
                        </th>
                        <th style="width:30px;">
                            @Html.DisplayNameFor(model => model.licensePlate)
                        </th>
                        <th style="width:30px;">
                            @Html.DisplayNameFor(model => model.Make)
                        </th>
                        <th style="width:30px;">
                            @Html.DisplayNameFor(model => model.Model)
                        </th>
                        <th style="width:30px;">
                            @Html.DisplayNameFor(model => model.registrationDate)
                        </th>
                        <th style="width:30px;">
                            @Html.DisplayNameFor(model => model.chasisNo)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.custID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.licensePlate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Make)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.registrationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.chasisNo)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
