@model IEnumerable<SBS.BusinessEntities.ViewModel.VehicleViewModel>

@{
    ViewBag.Title = "Index";
}

<head>
    

    
    <script type="text/javascript">

        function Delete(ID) {
            var confirmMsg = confirm("This Vehicle will get deleted permanently. Do you want to delete it?");
            if (confirmMsg) {
                $.ajax({
                    url: "/Vehicle/Delete" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (msg) {
                        alert("Deleted Successfully!");
                        window.location.href = "/Vehicle/Index";
                    },
                    error: function (ex) {
                        //alert("Vehicle couldn't be deleted!");
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                        alert("StackTrace: " + r.StackTrace);
                        alert("ExceptionType: " + r.ExceptionType);
                    }
                });
            }
        }
    </script>
    <style>
        .main {
            margin-top: 30px;
            padding: 10px 15px;
        }

        .container {
            width: auto;
        }

        .page-container {
            margin-left: 10%;
            margin-bottom: 10%;
            margin-right: 5%;
        }

        .table-heading {
            background-color: #2a3843;
            color: white;
        }
    </style>
</head>

<body style="background-color : #ced4da ;">
    <div class="page-container">
        <div class="page-wrapper">
            <h2>Vehicle Details</h2>

            <p>
                @Html.ActionLink("Add New Vehicle", "Create")
            </p>
            <table id="vehicleIndex" class="table table-striped" style="width: 90%;">
                <thead class="table-heading">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.licensePlate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Make)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Model)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.registrationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.chasisNo)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.licensePlate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Make)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.registrationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.chasisNo)
                            </td>
                            <td>
                                <a href="@Url.Action("ServiceBooking","BookService")">Book Service</a>
                                <a href="#" onclick="Delete('+@item.ID+')"> | Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

