@model ProductManagement.Context.tbl_Users
@{
    ViewBag.Title = "Dashboard";
    if (@Session["Username"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<style>

    .sidenav {
        height: 87%;
        width: 160px;
        position: fixed;
        top: 40px;
        left: 0;
        background-color: #2a3843;
        overflow-x: hidden;
        z-index: 1;
        padding-top: 20px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
            font-style: bold;
            background-color: #3b6064;
            border-radius: 8px;
            margin-top: 8px;
            margin-right: 5px;
        }

    .sidenav a:hover
    {
        background-color : white ;
        color : #2a3843;
    }

    .sidenav a::selection 
    {
        background-color : #2a3843;
        color: white;
    }

    .main
    {
        margin-left : 160px;
        padding : 0px 10px;
    }

    .page-container {
        color: #3b6064;
    }

    .custom__main {
        margin-top : 50px;
        vertical-align: middle;
        height : 50px;
    }

    .h1{
        font-family :'Bookman Old Style';
        font-size : 35px;
    }

</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand" style= " font-size:20px; color:white"><i class="fa fa-cube"></i>  Product Management</a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="@Url.Action("Login","Login")" style="color: white; font-size : 18px;"><i class="fa fa-power-off"></i> SIGNOUT</a></li>
            </ul>
        </div>
    </div>
</div>



<body style="background-color : #ced4da ;">
    <div class="page-container">
        <div class="page-wrapper">
            <div class="sidenav custom__sidebar">
                <a href="@Url.Action("Product","Product")"><i class="fa fa-plus"></i> Add Product</a>
                <a href="@Url.Action("ProductList","Product")"><i class="fa fa-bars"></i> Product List</a>
            </div>

            <div class="main custom__main">
                <div>
                    <h1 class="h1" align="center">Welcome! @Session["Username"]</h1>
                </div>
            </div>
        </div>
    </div>

</body>
