@model IEnumerable<SBS.BusinessEntities.ViewModel.ServiceViewModel>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .main {
            margin-top: 30px;
            padding: 10px 15px;
        }

        .container {
            width: auto;
        }

        .page-container {
            margin-left: 10%;
            margin-bottom: 10%;
            margin-right: 5%;
        }

        .table-heading {
            background-color: #2a3843;
            color: white;
        }
    </style>
</head>

<body style="background-color : #ced4da ;">
    <div class="page-container">
        <div class="page-wrapper">
            <h2>Service Details</h2>
            <table id="ServicesIndex"class="table table-striped" style="width: 90%;">
                <thead class="table-heading">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.mechanicID)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mechanicID)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
