@model IEnumerable<BusinessEntities.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        .main {
            width: 100%;
            margin: 2%;
        }
    </style>
</head>
<h1>Employee List</h1>

<hr />
<p>
    <a class="btn btn-outline-primary" asp-action="AddEmployee"><i class="fa fa-plus"></i> Add Employees</a>
</p>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="employeeTable" class="table table-striped" style="margin:0%; width:100%;">
    <thead style="background-color:black; color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width:auto;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsManager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="width:auto;">
                    <a class="btn btn-primary btn-sm " asp-action="EditEmployee" asp-route-id="@item.ID"><i class="fa fa-pencil"></i> </a>
                    <a class="btn btn-info btn-sm " asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-info"></i> </a>
                    <a class="btn btn-danger btn-sm" asp-action="DeleteEmployee" asp-route-id="@item.ID"><i class="fa fa-trash"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*--------------DataTables--------------*@
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#employeeTable').dataTable({
            });
        });
    </script>
}
