@model IEnumerable<BusinessEntities.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<hr/>
<p>
    <a class="btn btn-outline-primary" asp-action="AddEmployee"><i class="fa fa-plus"></i> Add Employees</a>
</p>
<table class="table table-striped">
    <thead style="background-color:black; color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-primary " asp-action="EditEmployee" asp-route-id="@item.ID"><i class="fa fa-pencil"></i> Edit</a>
                <a class="btn btn-info " asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-info"></i> Details</a>
                <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@item.ID"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
