@model IEnumerable<Digigarage.BusinessEntities.BookingViewModel>

@{
    ViewBag.Title = "Index";
}

<h3 style="font-family:Georgia, 'Times New Roman', Times, serif; ">Booking Details</h3>
<br />
<p>
    <a href="@Url.Action("Create","Booking")" class="btn btn-glow-secondary"><i class="fa fa-plus"></i>  Add New Booking</a>
</p>
<body style="background-color:#dee2ff;">
    <table class="table table-striped">
        <thead style="background-color : #355070; color:white;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.Customer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StautsOfBooking.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.LicencePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department.Department1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody  style="color : black; font-size: medium;">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.Customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StautsOfBooking.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.LicencePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Department1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Status != 2)
                        {
                            <a href="@Url.Action("Edit","Booking", new { id = item.BookingId})" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item. })*@
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.BookingId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
