@model SBS.BusinessEntities.ViewModel.CustomerViewModel

@{
    ViewBag.Title = "Login";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .form-horizontal {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-left: 15%;
            width: 100%
        }

        .jumbotron {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 65%;
            color: white;
            margin-top: 40px;
            background-color: #3c6e71;
            @*#2a3843;*@
        }

        .col-md-10 {
            width: 50%;
        }

        .mybtn {
            border: 2px solid;
            border-color: white;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: darkslategrey;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }

            .mybtn:hover {
                background-color: #6b9080;
                border: 2px solid white;
                color: white;
            }

        .a {
            color: white;
            text-decoration: underline;
        }
    </style>
</head>


@using (Html.BeginForm("Login", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h2 class="text-center" style="color:black;">Login Here</h2>
        <div class="jumbotron">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-top: 20px;">
                        <input type="submit" value="LOGIN" class="btn btn-primary" />
                    </div>
                </div>
                <p style="margin-left:140px; font-size : 15px;">New Account?  <a href="@Url.Action("Create","Customer")" class="a">Register here</a></p>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(function () {
       var successMsg ='@TempData["successMsg"]';
       if (successMsg != '') {
            alertify.alert(successMsg);
       }
    });
    </script>
}
