@model List<ProductManagement.Context.tbl_Products>
@{
    ViewBag.Title = "ProductList";
    if (@Session["Username"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<style>
    .sidenav {
        height: 87%;
        width: 170px;
        position: fixed;
        z-index: 1;
        top: 40px;
        left: 0;
        background-color: #2a3843;
        overflow-x: hidden;
        padding-top: 20px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
            background-color: #3b6064;
            border-radius: 8px;
            margin-top: 8px;
            margin-right: 5px;
        }

    .sidenav a:hover {
        background-color :white ;
        color: #2a3843 ;
    }

    .sidenav a::selection {
        background-color: #2a3843;
        color: white;
    }

    .main {
        margin-top : 30px;
        padding: 10px 15px;
    }

    .container {
        margin-left: 12%;
        width: auto;
        /*margin-right : 3%;*/
    }

    .page-container
    {
        margin-bottom : 10%;
    }

    .table-heading
    {
        background-color :#2a3843;
        color :white;
    }
</style>

<body  style="background-color : #ced4da ;">
    <div class="page-container">
        <div class="page-wrapper">
            <div class="sidenav custom__sidebar">
                <a href="@Url.Action("Dashboard","Login")"><i class="fa fa-home"></i> Home</a>
                <a href="@Url.Action("Product","Product")"><i class="fa fa-plus"></i> Add Product</a>
                <a href="@Url.Action("ProductList","Product")"><i class="fa fa-bars"></i> Product List</a>


            </div>

            <div class="main custom__main">
                <div class="container">
                    <table id="tbl_ProductList" class="table table-striped" style="width: 100%;">
                        <thead class="table-heading">
                            <tr>
                                <th style="width:30px;">Name</th>
                                <th style="width:10px;">Category</th>
                                <th style="width:10px;">Price</th>
                                <th style="width:10px;">Quantity</th>
                                <th>Short Description</th>
                                <th>Long Description</th>
                                <th>Short Image</th>
                                <th>Large Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Category</td>
                                    <td>@item.Price</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.ShortDesc</td>
                                    <td>@item.LongDesc</td>
                                    <td><center><img src="@Url.Content(item.SmallImg)" width="50" height="50" /></center></td>
                                    <td><img src="@Url.Content(item.LargeImg)" width="100" height="100" /></td>
                                    <td>
                                        <a href="@Url.Action("Product",new {item.ID,item.Name,item.Category,item.Price,item.Quantity,item.SmallImg,item.LargeImg,item.ShortDesc,item.LongDesc})" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit</a>

                                        <a onclick="Delete(@item.ID)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>
@section scripts
{
    <script>
        $(function () {
            var successMsg = '@TempData["successMsg"]'
            if (successMsg != '')
                alertify.success(successMsg);
        });

        function Delete(id) {
            alertify.confirm("Product Management", "Are you sure that you want to delete this record?", function () {
                window.location.href = '@Url.Action("DeleteProduct", "Product")/' + id;
            }, null);
        }
    </script>    
}